@font-face {
  font-family: "iconfont"; /* Project id 4157557 */
  src: url('iconfont.woff2?t=1688799681450') format('woff2'),
       url('iconfont.woff?t=1688799681450') format('woff'),
       url('iconfont.ttf?t=1688799681450') format('truetype');
}

.icon-xinlangweibo:before {
  content: "\e600";
}

.icon-xueqiu:before {
  content: "\e643";
}

